.env
venv
.qdrant-initialized
qdrant
qdrant.tar.gz
data/tickets.db
transformer-models
storage
data/knowledge_base/kb_chunks_merged.jsonl
data/knowledge_base/kb_chunks.jsonl
data/knowledge_base/resolution_chunks.jsonl
venv311