.env
venv/
.qdrant-initialized
qdrant.exe
qdrant.tar.gz
data/tickets.db
/transformer-models
/storage
__pycache__/
/snapshots
data/tickets.db
data/knowledge_base/.generation_progress.jsonl
data/knowledge_base/bm25_index.pkl
data/knowledge_base/kb_chunks_merged.jsonl
data/knowledge_base/kb_chunks.jsonl
data/knowledge_base/resolution_chunks.jsonl
notebooks/.ipynb_checkpoints 